body {
    margin: 0;
    position: relative;
    max-width: 1700px;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
  }
  
  .landingpage {
    position: relative;
    max-width: 1700px;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000000;
    background-image: url("../../Assets/Silhouette.svg"), url("../../Assets/Stars.svg"), url("../../Assets/Trees.svg");
    background-repeat: no-repeat;
    background-position: right 240px bottom, bottom, bottom;
    background-size: 110px, cover, 250vh;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 80px;
  }

  .box .infobox {
    animation-name: leftslide;
    animation-duration: 0.8s;
    max-height: 500px;
    max-width: 55%;
    overflow: hidden;
    margin-top: 136px;
  }
  
  .infobox-boldtext {
    margin: 0;
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: left;
  }
  .infobox-boldtextak {
    display: inline;
    margin: 0;
    font-family: Poppins;
    color: #FFA903;
    font-size: 65px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: left;
  }
  .infobox-slimtext {
    margin: 24px 0;
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;
    text-align: left;
  }
  
  .box .infobox-btnwrapper {
    display: flex;
  }
  
  .sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 60px;
    top: 136px;
  }
  
  .sci li {
    list-style: none;
  }
  
  .sci li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    margin: 10px 0 0;
  }
  
  .sci li a:hover {
    background: #FFA903;
  }
  
  .sci li a:hover i {
    max-width: 20px;
    color: #000;
  }